# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# Logs
*.log

# Frontend dependencies
frontend/node_modules/

# Build folders
frontend/build/
frontend/dist/
frontend/dist/.env

# Backend cache
backend/__pycache__/
backend/*.pyc
backend/.env

# IDE files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db